.about {
  padding-left: 25px;
  padding-right: 25px;
}

.about__title {
  margin-bottom: 46px;
}

.about__columns {
  display: flex;
  padding-right: 5px;
  padding-left: 30px;
}

.about__column {
  width: 46%;

  &--right {
    position: relative;
    width: 54%;
    margin-left: auto;
    padding-top: 100px;
    padding-left: 46px;
  }
}

.about__paragraph {
  width: 83%;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__subtitle {
  position: absolute;
  top: 71%;
  left: -18.2%;
  z-index: 2;

  width: 192px;

  text-align: right;
}

.about__list {
  @include list-reset;

  display: flex;
}

.about__item {
  flex-shrink: 0;
}

@media (max-width: $notebook-max-width) {
  .about,
  .about__columns {
    padding: 0;
  }

  .about__subtitle {
    position: static;

    width: 100%;
    margin-bottom: 20px;
  }

  .about__column {
    &--right {
      padding-top: 50px;
      padding-left: 0;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .about {
    padding: 0 25px;
  }

  .about__columns {
    flex-wrap: wrap;
  }

  .about__column {
    width: 91%;
    margin: 0 auto;

    &--right {
      width: 89%;
      padding-top: 36px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .about {
    padding: 0;
  }

  .about__column {
    width: 100%;

    &--right {
      padding-top: 52px;
    }
  }

  .about__paragraph {
    width: 100%;
  }

  .about__subtitle {
    margin-bottom: 11px;

    text-align: left;
  }

  .about__slider {
    width: 83%;
    margin: 0 auto;
  }
}

@media (max-width: $mobile-middle-width) {
  .about__slider {
    width: 100%;
  }
}
