.canvas {
  position: relative;

  width: 100%;
  padding-top: 15px;
  padding-right: 15px;

  line-height: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    width: 97.5%;
    height: 89%;

    border: 4px solid $brighter;
  }

  &--small {
    width: 207px;
    height: 142px;
    padding-top: 12px;
    padding-right: 12px;

    &::before {
      width: 195px;
      height: 130px;

      border-width: 2px;
    }
  }

  &--page {
    width: auto;
  }
}

.canvas__image {
  position: relative;
  z-index: 1;
}

@media (max-width: $notebook-max-width) {
  .canvas {
    width: auto;
  }
}
