.contacts {
  padding-left: 25px;
}

.contacts__title {
  margin-bottom: 50px;
}

.contacts__columns {
  display: flex;
}

.contacts__column {
  width: 47%;

  &--first {
    width: 20%;
    margin-right: 7.2%;
  }
}

.contacts__list {
  @include list-reset;

  padding-left: 30px;
}

.contacts__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__subtitle {
  margin-bottom: 13px;
}

.contacts__paragraph {
  line-height: 1.5;
}

.contacts__link {
  display: inline-block;

  color: $lightest;
  vertical-align: top;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    outline: none;

    opacity: 0.5;
  }
}

.contacts__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.contacts__input-wrapper {
  width: 49.2%;
  margin-bottom: 8px;
}

.contacts__textarea-wrapper {
  margin-bottom: 17px;
}

@media (max-width: $notebook-max-width) {
  .contacts {
    padding-left: 0;
  }

  .contacts__column {
    width: 55%;

    &--first {
      width: 26%;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .contacts__column {
    width: 64%;

    &--first {
      width: 28%;
    }
  }

  .contacts__list {
    padding-left: 0;
  }

  .contacts__item {
    margin-bottom: 26px;
  }
}

@media (max-width: $mobile-max-width) {
  .contacts__title,
  .contacts__item {
    margin-bottom: 32px;
  }

  .contacts__columns {
    flex-direction: column;
  }

  .contacts__column {
    width: 100%;
    margin-bottom: 51px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts__paragraph {
    display: flex;
    flex-direction: column;

    &--compressed {
      width: 85%;

      line-height: 1.2;
    }
  }

  .contacts__input-wrapper {
    margin-bottom: 10px;
  }
}

@media (max-width: $mobile-middle-width) {
  .contacts__input-wrapper {
    width: 100%;
  }
}
