.gallery {
  position: relative;

  &::before {
    @include page-label;

    content: "Галерея";

    background-image: url("../img/icon-gallery.svg");
  }
}

.gallery__title {
  margin-bottom: 46px;
}

.gallery__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  flex-shrink: 0;

  margin-bottom: 30px;

  &:nth-child(2n) {
    margin-left: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .gallery {
    &::before {
      top: 66px;

      font-size: 17px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .gallery {
    &::before {
      top: 5px;
      padding-left: 34px;

      font-size: 16px;
    }
  }
}

@media (max-width: $mobile-middle-width) {
  .gallery {
    &::before {
      top: 36px;
    }
  }
}
