.howitworks {
  padding-left: 25px;
}

.howitworks__title {
  margin-bottom: 46px;
}

.howitworks__list-wrapper {
  padding-left: 22px;
}

.howitworks__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  background-image:
    url("../img/decor-dashed-wave-01.svg"),
    url("../img/decor-dashed-wave-02.svg"),
    url("../img/decor-dashed-wave-03.svg");
  background-repeat: no-repeat;
  background-position:
    346px 17px,
    127px 175px,
    387px 275px;

  counter-reset: number;
}

.howitworks__item {
  position: relative;

  display: flex;
  width: 535px;
  margin-bottom: 5.1%;
  padding-left: 8px;

  &::after {
    @include item-number;
  }

  &:nth-child(odd) {
    margin-right: 58px;
  }

  &:nth-child(2n) {
    padding-top: 18px;

    &::after {
      top: 128px;
    }
  }

  &:nth-child(4n-1) {
    margin-right: 77px;
    margin-left: 32px;
  }

  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.howitworks__image-wrapper {
  flex-shrink: 0;
  margin: 0;
  margin-right: 21px;
}

.howitworks__item-wrapper {
  width: 56.1%;
  padding-top: 13px;
}

.howitworks__subtitle {
  width: 50%;
  margin-bottom: 9px;
}

.howitworks__slider-controls {
  display: none;
}

@media (max-width: $notebook-max-width) {
  .howitworks {
    padding-left: 0;
  }

  .howitworks__list {
    background-image: none;
  }

  .howitworks__item {
    width: 100%;

    &:nth-child(4n-1) {
      margin-right: 0;
      margin-left: 0;
    }

    &:nth-child(2n) {
      padding-top: 0;

      &::after {
        top: 110px;
      }
    }

    &:nth-last-child(2) {
      margin-bottom: 5.1%;
    }
  }

  .howitworks__item-wrapper {
    width: 68%;
  }
}

@media (max-width: $tablet-max-width) {
  .page-body--js {
    .howitworks__slider-controls {
      display: flex;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .page-body--js {
    .howitworks__item {
      margin-bottom: 20px;
      padding-bottom: 0;

      &:nth-last-child(2) {
        margin-bottom: 20px;
      }
    }
  }

  .howitworks__list-wrapper {
    padding-left: 0;
  }

  .howitworks__item {
    flex-direction: column;
    margin-bottom: 8%;
    padding-left: 0;

    &:nth-child(2n+1) {
      margin-right: 0;
    }

    &:nth-last-child(2) {
      margin-bottom: 8%;
    }
  }

  .howitworks__image-wrapper {
    margin: 0 auto;
  }

  .howitworks__item-wrapper {
    width: 100%;
    padding-top: 33px;
    padding-left: 13px;
  }

  .howitworks__paragraph {
    width: 92%;
  }
}
