.intro {
  padding: 0 56px;
}

.intro__title {
  margin-bottom: 12px;
}

.intro__buttons-wrapper {
  margin-top: 75px;
}

.intro__button {
  margin-right: 21px;
}

@media (max-width: $mobile-max-width) {
  .intro {
    padding: 0;

    text-align: center;
  }

  .intro__paragraph {
    margin: 0 auto;
  }

  .intro__buttons-wrapper {
    margin-top: 52px;
    margin-bottom: 52px;
  }

  .intro__button {
    margin-right: 10px;
  }
}

@media (max-width: $mobile-middle-width) {
  .intro__paragraph {
    width: 258px;
  }

  .intro__buttons-wrapper {
    display: flex;
    flex-direction: column;
    width: 207px;
    margin: 0 auto;
    margin-top: 53px;
  }

  .intro__button {
    margin-right: 0;
    margin-bottom: 13px;
  }
}
