.logo {
  width: 193px;
  height: 28px;

  &[href] {
    outline-color: $brighter;

    &:hover,
    &:focus {
      transition: 0.4s;

      .logo__image {
        fill: $brighter;
        transition: 0.4s;
      }
    }

    &:focus {
      outline-offset: 5px;
    }

    &:active {
      outline: none;

      .logo__image {
        fill-opacity: 0.5;
        transition: none;
      }
    }
  }
}

.logo__image {
  fill: $lightest;
}

.logo__mobile {
  display: none;
}

@media (max-width: $notebook-max-width) {
  .logo {
    width: 28px;
    height: 28px;
  }

  .logo__image {
    width: 28px;
    height: 28px;
  }

  .logo__desktop {
    display: none;
  }

  .logo__mobile {
    display: block;
  }
}
