.main-nav {
  display: flex;
  align-items: center;
  min-height: 36px;
}

.main-nav__site-menu {
  margin: 0 auto;
}

.main-nav__order-button {
  margin-right: 20px;
}

.main-nav__menu-toggle {
  display: none;
}

.main-nav__phone-link {
  @include link-conditions;

  font-size: 16px;
  font-weight: 700;
  color: $lightest;

  outline-color: $brighter;
}

}
