.order {
  padding-left: 25px;
}

.order__title {
  margin-bottom: 70px;
}

.order__wrapper {
  text-align: center;
}

.order__form {
  width: 50%;
  margin: 0 auto;
  text-align: center;

  &--modal {
    @include modal-position;

    width: 560px;
    min-height: 380px;
    padding: 58px 80px;

    background-color: $modal;

    border-radius: 3px;
  }
}

.order__subtitle {
  margin-bottom: 14px;
}

.order__paragraph {
  margin-bottom: 46px;

  &--modal {
    margin-bottom: 17px;
  }
}

.order__input-wrapper {
  margin-bottom: 9px;

  &:last-of-type {
    margin-bottom: 30px;
  }
}

@media (max-width: $notebook-max-width) {
  .order {
    padding-left: 0;
  }

  .order__form {
    &--page {
      width: 67.7%;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .order {
    padding: 0 25px;
  }

  .order__form--page {
    width: 89%;
  }
}

@media (max-width: $mobile-max-width) {
  .order__form--page {
    width: 100%;
  }
}

@media (max-width: $mobile-middle-width) {
  .order {
    padding: 0;
  }

  .order__paragraph {
    font-size: 15px;
  }
}
