.page-main {
  margin: auto;
  margin-top: 4%;
  padding: 0 4.7%;

  &--index {
    margin: auto 0;
  }
}

.page-main__container {
  width: 1238px;

  &--index {
    width: 100%;
    margin-top: 0;
  }
}

.page-main__questions {
  padding-bottom: 42px;
}

@media (max-width: $notebook-max-width) {
  .page-main__container {
    width: 896px;
  }
}
