.page-main {
  margin: auto;
  margin-top: 4%;
  padding: 0 4.7%;

  &--index {
    margin: auto 0;
  }
}

.page-main__container {
  width: 1238px;

  &--index {
    width: 100%;
    margin-top: 0;
  }
}

.page-main__intro {
  position: relative;
  z-index: 1;
}

.page-main__questions {
  padding-bottom: 42px;
}

@media (max-width: $notebook-max-width) {
  .page-main__container {
    &:not(.page-main__container--index) {
      width: 896px;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .page-body--js {
    .page-main__intro {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .page-main__container {
    &:not(.page-main__container--index) {
      width: 696px;
    }
  }

  .page-main__order {
    margin-bottom: 35px;
  }

  .page-main__intro {
    margin-top: 130px;
    margin-bottom: 260px;
  }
}

@media (max-width: $mobile-max-width) {
  .page-main__container {
    &:not(.page-main__container--index) {
      width: 100%;
    }
  }

  .page-main__intro {
    margin-top: 140px;
    margin-bottom: 140px;

@media (max-width: $mobile-middle-width) {
  .page-main {
    &--questions {
      padding: 0 2.5%;
    }
  }

  }
}
