.page-footer {
  position: relative;

  display: flex;
  margin-bottom: 0;
  padding: 0 4.7%;
  padding-top: 20px;
  padding-bottom: 20px;

  &--index {
    padding-top: 31px;
    padding-bottom: 31px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      width: 430px;
      height: 350px;

      background-image: url("../img/bg-kid-vr-01.png");
    }
  }

  &--about {
    padding-top: 0;
  }

  &--questions {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      width: 235px;
      height: 264px;

      background-image: url("../img/bg-kid-vr-02.png");
    }
  }

  &--full-info {
    justify-content: space-between;
    padding: 31px 5.7%;
  }
}

.page-footer__copyright {
  align-self: center;
  margin: 0;
  padding-bottom: 3px;

  font-size: 13px;
}

.page-footer__next-page-link {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 10px);

  width: 20px;
  height: 20px;

  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: $lightest;
  letter-spacing: 1px;
  word-spacing: 2px;

  background-image: url("../img/icon-arrow-pointer.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  outline-color: $brighter;

  opacity: 0.5;

  &--label {
    top: calc(50% - 16px);
    left: calc(50% - 45px);

    width: 90px;
    height: 31px;

    background-position: 50% bottom;
  }

  &--about {
    top: calc(50% - 19px);
  }

  &:hover,
  &:focus {
    opacity: 1;
    transition: 0.4s;
  }

  &:focus {
    outline-offset: 5px;
  }

  &:active {
    outline: none;

    opacity: 0.2;

    transition: none;
  }
}

@media (max-width: $notebook-max-width) {
  .page-footer {
    padding-top: 40px;
  }

  .page-footer__next-page-link {
    top: calc(50% + 2px);

    &--label {
      top: calc(50% - 11px);
    }
  }
}

@media (max-width: $tablet-max-width) {
  .page-footer--questions {
    &::before {
      display: none;
    }
  }
}

