.page-main {
  width: 1238px;
  margin: auto;
  margin-top: 4.5%;

  &--index {
    width: 100%;
    margin: auto 0;
  }
}

.page-main__questions {
  padding-bottom: 42px;
}

@media (max-width: $notebook-max-width) {
  .page-main {
    width: 896px;
  }
}
