.socials {
  @include list-reset;

  display: none;
  max-width: 14%;

  &--show {
    display: flex;
    flex-wrap: wrap;
  }

  &--small {
    max-width: 11%;
  }
}

.socials__item {
  margin-right: 14px;
  margin-bottom: 5px;

  &:nth-child(4n),
  &:last-child {
    margin-right: 0;
  }

  &:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
}

.socials__link {
  display: block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: 45% 55%;

  outline-color: $brighter;

  opacity: 0.65;

  &--small {
    width: 21px;
    height: 21px;

    &.socials__link--facebook {
      background-size: 8px 17px;
    }

    &.socials__link--vkontakte {
      background-size: 21px 11px;
    }
  }

  &--facebook {
    background-image: url("../img/logo-facebook.svg");
  }

  &--vkontakte {
    background-image: url("../img/logo-vkontakte.svg");
  }

  &:hover,
  &:focus {
    opacity: 1;

    transition: 0.4s;
  }

  &:focus {
    outline-offset: 5px;
  }

  &:active {
    outline: none;

    opacity: 0.2;

    transition: none;
  }
}

@media (max-width: $tablet-max-width) {
  .socials {
    display: flex;
  }
}
