.technology {
  padding-left: 25px;
}

.technology__title {
  margin-bottom: 60px;
}

.technology__vr-glasses {
  margin-left: 353px;
}

.technology__subtitle {
  margin-bottom: 13px;
}

.technology__list-wrapper {
  position: relative;
  z-index: 1;

  margin-top: -397px;
  padding-left: 28px;
}

.technology__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;

  background-image:
    url("../img/decor-solid-pointer-01.svg"),
    url("../img/decor-solid-pointer-02.svg"),
    url("../img/decor-solid-pointer-03.svg"),
    url("../img/decor-solid-pointer-04.svg");
  background-repeat: no-repeat;
  background-position:
    211px 12px,
    577px 15px,
    166px 168px,
    700px 180px;
}

.technology__item {
  width: 280px;
  margin-bottom: 3.6%;

  &:nth-child(odd) {
    margin-right: 554px;
  }

  &:nth-child(4) {
    padding-top: 19px;
  }

  &:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

.technology__paragraph {
  width: 99%;
}

@media (max-width: $notebook-max-width) {
  .technology {
    padding-left: 0;
  }

  .technology__vr-glasses {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .technology__list-wrapper {
    margin-top: -480px;
    padding-left: 0;
  }

  .technology__list {
    padding-top: 480px;
    background-position:
      130px 55px,
      500px 58px,
      85px 230px,
      618px 220px;

    counter-reset: number;
  }

  .technology__item {
    position: relative;

    width: 100%;
    padding-top: 2px;
    padding-left: 50px;

    &::before {
      @include item-number;
      top: 0;

      width: 30px;
      height: 30px;

      font-size: 22px;
      line-height: 1.25;
    }

    &:nth-child(odd) {
      margin-right: 0;
    }

    &:nth-child(4) {
      padding-top: 2px;
    }

    &:nth-last-child(2) {
      margin-bottom: 3.6%;
    }
  }

  .technology__linebreak {
    display: none;
  }
}
