.title {
  display: inline-block;
  width: auto;
  margin: 0;
  padding-right: 25px;

  font-size: 44px;
  font-weight: 500;
  vertical-align: middle;

  border-bottom: 3px solid $brighter;

  &--index {
    padding-right: 0;

    font-size: 96px;
    font-weight: 400;

    border-bottom: none;
  }

  &--lineless {
    border-bottom: none;
  }
}

@media (max-width: $tablet-max-width) {
  .title {
    &--index {
      font-size: 76px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .title {
    width: 100%;
    padding-bottom: 8px;

    font-size: 28px;
    line-height: 1.1;

    &--index {
      font-size: 36px;
    }
  }
}
