.vr-glasses {
  position: relative;

  margin: 0 auto;
}

.vr-glasses__wrapper {
  position: relative;

  display: flex;
  width: 408px;
  height: 408px;

  vertical-align: middle;

  background-color: $lightest;

  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: -36px;
    left: -36px;

    width: 480px;
    height: 480px;

    background-image: url("../img/decor-ellipse-border.svg");
  }

  &--page {
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-bottom: 50px;

    background-position: 50%;
    background-size: 800px 800px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 900px;
      height: 900px;

      background-image: url("../img/decor-ellipse-border.svg");
      background-size: 900px;

      transform: translate(-50%, -50%);
    }
  }
}

.vr-glasses__image-wrapper {
  z-index: 1;

  flex-shrink: 0;
  align-self: center;
  margin: 0;
  padding-top: 20px;
  padding-left: 10px;

  &--page {
    width: 100%;
    padding: 0;
  }
}

.vr-glasses__button {
  z-index: 3;

  flex-shrink: 0;
  align-self: flex-end;
  width: 85px;
  height: 85px;
  margin-bottom: 20px;
  margin-left: -119px;

  background-color: $bright;
  background-image: url("../img/icon-zoom.svg");
  background-repeat: no-repeat;
  background-position: 60% 58%;

  border-radius: 50%;
  outline-color: $brighter;

  &:hover,
  &:focus {
    background-color: $brighter;

    transition: 0.4s;
  }

  &:focus {
    outline-offset: 6px;
  }

  &:active {
    background-color: $bright;

    outline: none;

    transition: none;
  }
}

.vr-glasses__list {
  display: none;
}

@media (max-width: $notebook-max-width) {
  .vr-glasses {
    width: 856px;
  }

  .vr-glasses__wrapper {
    &--page {
      width: 750px;
      height: 750px;

      &::before {
        width: 850px;
        height: 850px;

        background-size: 850px;
      }
    }
  }

  .vr-glasses__image-wrapper {
    &--page {
      width: 100%;
    }
  }

  .vr-glasses__list {
    position: absolute;
    top: -20px;
    left: 0;

    @include list-reset;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    width: 896px;

    font-size: 58px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
  }

  .vr-glasses__item {
    margin-bottom: 151px;

    &:nth-child(odd) {
      margin-right: 656px;
    }
  }

  .vr-glasses__link {
    position: relative;

    display: block;
    width: 100px;
    height: 100px;

    color: $bright;

    background-color: $lightest;
    outline-color: $brighter;

    border-radius: 50%;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -10px;

      width: 120px;
      height: 120px;

      border: 1px solid rgba($lightest, 0.1);
      border-radius: 50%;
    }

    &:hover,
    &:focus {
      color: $lightest;

      background-color: $brighter;

      transition: 0.4s;
    }

    &:focus {
      outline-offset: 10px;
    }

    &:active {
      color: rgba($lightest, 0.7);

      background-color: $bright;

      outline: none;

      transition: none;
    }
  }
}
