.zoom {
  position: relative;

  padding-left: 25px;

  &::before {
    @include page-label;

    content: "Увеличенное изображение";

    background-image: url("../img/icon-loupe.svg");
  }
}

.zoom__title {
  margin-bottom: 46px;
}

@media (max-width: $notebook-max-width) {
  .zoom {
    padding-left: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .zoom {
    &::before {
      top: 4px;
    }
  }

  .zoom__title {
    margin-bottom: 70px;
  }
}

@media (max-width: $mobile-middle-width) {
  .zoom {
    &::before {
      top: 50px;

      font-size: 18px;
    }
  }
}
