@mixin container-desktop {
  width: $desktop-width;
  margin: 0 auto;
  padding: 0 64px;
}

@mixin container-tablet {
  width: $tablet-min-width;
  padding: 0 45px;
}

@mixin container-mobile {
  width: $mobile-min-width;
  padding: 0 16px;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin item-number {
  counter-increment: number;
  content: counter(number);
  position: absolute;
  top: 110px;
  left: 0;
  z-index: 1;

  width: 40px;
  height: 40px;

  font-size: 28px;
  font-weight: 700;
  color: $brighter;
  text-align: center;

  background-color: $lightest;

  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(6, 58, 46, 0.2);
}

@mixin link-conditions {
  &:hover,
  &:focus {
    color: $brighter;

    transition: 0.4s;
  }

  &:focus {
    outline-offset: 6px;
  }

  &:active {
    color: rgba($brighter, 0.5);

    outline: 0;

    transition: none;
  }
}

@mixin modal-position {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;

  transform: translate(-50%, -50%);
}

@mixin page-label {
  position: absolute;
  top: 22px;
  right: 0;

  padding-left: 40px;

  font-size: 19px;
  line-height: 1.6;
  font-weight: 700;
  color: $brighter;

  background-repeat: no-repeat;
  background-position: 0 0;
}
