@mixin container-desktop {
  width: $desktop-width;
  margin: 0 auto;
  padding: 0 64px;
}

@mixin container-tablet {
  width: $tablet-min-width;
  padding: 0 45px;
}

@mixin container-mobile {
  width: $mobile-min-width;
  padding: 0 16px;
}

@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin focus {
  outline-color: $brighter;
  outline-offset: 6px;
}

@mixin link-conditions {
  &:hover,
  &:focus {
    color: $brighter;

    transition: 0.4s;
  }

  &:active {
    color: rgba($brighter, 0.5);

    outline: 0;

    transition: none;
  }
}

@mixin modal-position {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;

  transform: translate(-50%, -50%);
}
