// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// width
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1365px;
$desktop-max-width: 2560px;

// colors
