// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// width
$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 991px;
$notebook-min-width: 992px;
$notebook-max-width: 1365px;
$desktop-min-width: 1366px;
$desktop-max-width: 2560px;

// colors
$lightest: #ffffff;
$dark: #0d1117;
$darker: #1c1c1c;
$darkest: #000000;
$bright: #15b28d;
$brighter: #0dd1a2;
$success: #1dc04b;
$error: #f97676;
$modal: #f3f3f3;
